      <div ng-controller="teaController">
        <div class = "container">
          <div class="row">
              <select ng-model="sortBy" ng-options="cats for cats in categories">
              <option style="display:none" value="">Sort By Category</option>
              </select>
              <input type="text" id="search" placeholder="Search By Name" ng-model="search">
              <select ng-model="price">
                <option value="price">low to high</option>
                <option value="-price">high to low</option>
              </select>  
          </div>
          <div class="row"  ng-repeat="tea in data | filter:search | filter:sortBy | orderBy: price">
            <div class="col-md-3 image">
              <img src="{{ tea.imageUrl }}">
            </div>
            <div class="col-md-6">                
                <h3>{{ tea.name }}</h3><br/>
                <strong>Price:</strong> {{ tea.price * .01 | currency }} <br/>
                <strong>Caffeine Scale:</strong> {{ tea.caffeineScale }}<br/>
                <strong>Ingredients:</strong> {{ tea.ingredients }}<br/>
                <strong>Rating:</strong> {{ tea.rating }}<br/>
                <strong>In Stock?</strong> {{ tea.inStock === true ? "Yes": "No"}}<br/>
                <strong>Categories</strong> <br/>
                <ul>
                <li ng-repeat="cats in tea.categories">{{cats}}</li>
                </ul>
            </div>
            <div class="col-md-3">
              <form>
                <select ng-model="quantity" ng-options="quant for quant in quantities">
                <option style="display:none" value="">Quantity</option>
                </select> <br><br>
                <button type="submit" class="btn btn-primary" ng-click="bagIt(tea,quantity)">Bag It!</button>
              </form>
            </div>
          </div>
        </div>
      </div>
                
                
            

    



      </div>